.home-hero-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  width: 100%;             /* O la anchura que requieras */
  min-height: 300px;       /* O la altura deseada del contenedor */
}

.home-hero-image {
  max-width: 100%;
  height: auto;
  display: block;
}